Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

feat(redis): 名字服务开关 close #839
  dbm-ui/backend/configuration/models/function_controller.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): add backup_client #834
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/proxy_install.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_install.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 名字服务开关 close #839
  dbm-ui/backend/configuration/models/function_controller.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: remotedb 扩缩容,定点回档流程联调,fix bug,代码优化 #308
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_rollback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_recover.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #529
  dbm-ui/frontend/src/components/cluster-common/host-shrink/components/SelectOriginalHost.vue
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/hdfs-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/kafka-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/pulsar-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/RenderTable.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/components/BkCloudIds.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/components/SpecId.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/components/CollectSearchParams.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): 修复资源池体验问题 #529
  dbm-ui/frontend/src/components/cluster-common/host-shrink/components/SelectOriginalHost.vue
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/hdfs-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/kafka-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/pulsar-manage/common/shrink/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/RenderTable.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/components/BkCloudIds.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/components/SpecId.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/components/CollectSearchParams.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(backend): 回档记录开发 #812
  dbm-ui/backend/db_meta/enums/cluster_status.py
  dbm-ui/backend/db_proxy/views/redis_dts/serializers.py
  dbm-ui/backend/db_proxy/views/redis_dts/views.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/mock_data.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/serializers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/views.py
  dbm-ui/backend/db_services/mysql/resources/tendbha/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbsingle/query.py
  dbm-ui/backend/db_services/mysql/sql_import/serializers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/db_services/partition/views.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_checksum.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_import_sqlfile.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_temporary_destroy.py
  dbm-ui/backend/ticket/constants.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): 统一 Message 组件默认时间 #841
  dbm-ui/frontend/src/components/app-selector/index.vue
  dbm-ui/frontend/src/components/apply-items/BackendQPSSpec.vue
  dbm-ui/frontend/src/components/apply-items/SpecSelector.vue
  dbm-ui/frontend/src/hooks/useCopy.ts
  dbm-ui/frontend/src/hooks/useTicketMessage.ts
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/db-configure/business/ConfigEdit.vue
  dbm-ui/frontend/src/views/db-configure/platform/ConfigureEdit.vue
  dbm-ui/frontend/src/views/mysql/permission/components/AccountDialog.vue
  dbm-ui/frontend/src/views/mysql/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/mysql/permission/index.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/permission/hooks/useDeleteAccount.ts
  dbm-ui/frontend/src/views/staff-setting/index.vue
  dbm-ui/frontend/src/views/version-files/hooks/useVersionFiles.ts
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(redis): 名字服务开关 #839
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/model/function-controller/functionController.ts
  dbm-ui/frontend/src/views/redis/apply/ApplyRedis.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(redis): dbmon close #849
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/proxy_install.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/proxy_uninstall.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_dbmon.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_install.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_makesync.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_open_close.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): 回档记录开发 #812
  dbm-ui/backend/db_meta/enums/cluster_status.py
  dbm-ui/backend/db_proxy/views/redis_dts/serializers.py
  dbm-ui/backend/db_proxy/views/redis_dts/views.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/mock_data.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/serializers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/views.py
  dbm-ui/backend/db_services/mysql/resources/tendbha/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbsingle/query.py
  dbm-ui/backend/db_services/mysql/sql_import/serializers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/db_services/partition/views.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_checksum.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_import_sqlfile.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_temporary_destroy.py
  dbm-ui/backend/ticket/constants.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): dbmon close #849
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/proxy_install.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/proxy_uninstall.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_dbmon.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_install.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_makesync.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_open_close.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 名字服务开关 #839
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/model/function-controller/functionController.ts
  dbm-ui/frontend/src/views/redis/apply/ApplyRedis.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 统一 Message 组件默认时间 #841
  dbm-ui/frontend/src/components/app-selector/index.vue
  dbm-ui/frontend/src/components/apply-items/BackendQPSSpec.vue
  dbm-ui/frontend/src/components/apply-items/SpecSelector.vue
  dbm-ui/frontend/src/hooks/useCopy.ts
  dbm-ui/frontend/src/hooks/useTicketMessage.ts
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/db-configure/business/ConfigEdit.vue
  dbm-ui/frontend/src/views/db-configure/platform/ConfigureEdit.vue
  dbm-ui/frontend/src/views/mysql/permission/components/AccountDialog.vue
  dbm-ui/frontend/src/views/mysql/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/mysql/permission/index.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/permission/hooks/useDeleteAccount.ts
  dbm-ui/frontend/src/views/staff-setting/index.vue
  dbm-ui/frontend/src/views/version-files/hooks/useVersionFiles.ts
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(redis): 修复新建 slave 和数据复制一些 bug #807
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/bkdbmon_install.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_backup.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_dts_online_switch.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbactuator/pkg/util/util.go
  dbm-services/redis/db-tools/dbmon/models/myredis/myredis.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/task.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/task.go
  dbm-services/redis/db-tools/dbmon/util/util.go
  dbm-ui/backend/db_meta/api/cluster/nosqlcomm/scale_tendis.py
  dbm-ui/backend/db_services/redis/redis_dts/constants.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_add_slave.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_data_copy.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_dts.py
  dbm-ui/backend/flow/utils/redis/redis_act_playload.py
Owners: @lukemakeit, @xiepaup, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 调整helm version #852
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/query.py
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 调整helm version #852
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/query.py
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): spider 工具箱 #599 (#838)
  dbm-ui/frontend/src/views/spider-manage/checksum/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopo.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopoHost.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/Row.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderMaster.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/Row.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): 修复资源池体验问题 #529
  dbm-ui/frontend/src/components/cluster-common/host-expansion/NodeStatusList.vue
  dbm-ui/frontend/src/components/db-table/index.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/common/expansion/Index.vue
  dbm-ui/frontend/src/views/pulsar-manage/common/expansion/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): spider 集群管理功能 #702
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.eot
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.svg
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.ttf
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.woff
  dbm-ui/frontend/lib/bk-icon/iconcool.js
  dbm-ui/frontend/lib/bk-icon/iconcool.json
  dbm-ui/frontend/lib/bk-icon/style.css
  dbm-ui/frontend/src/components/cluster-common/RenderOperationTag.vue
  dbm-ui/frontend/src/views/es-manage/list/index.vue
  dbm-ui/frontend/src/views/hdfs-manage/list/index.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/kafka-manage/list/Index.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/cluster/list/ListTendb.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): 修复资源池体验问题 #529
  dbm-ui/frontend/src/components/cluster-common/host-expansion/NodeStatusList.vue
  dbm-ui/frontend/src/components/db-table/index.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/common/expansion/Index.vue
  dbm-ui/frontend/src/views/pulsar-manage/common/expansion/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): spider 工具箱 #599 (#838)
  dbm-ui/frontend/src/views/spider-manage/checksum/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopo.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopoHost.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/Row.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderMaster.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/Row.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): spider 集群管理功能 #702
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.eot
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.svg
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.ttf
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.woff
  dbm-ui/frontend/lib/bk-icon/iconcool.js
  dbm-ui/frontend/lib/bk-icon/iconcool.json
  dbm-ui/frontend/lib/bk-icon/style.css
  dbm-ui/frontend/src/components/cluster-common/RenderOperationTag.vue
  dbm-ui/frontend/src/views/es-manage/list/index.vue
  dbm-ui/frontend/src/views/hdfs-manage/list/index.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/kafka-manage/list/Index.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/cluster/list/ListTendb.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(redis): 接入层(dns/clb/北极星)调整成单独子流程 close #734
  dbm-ui/backend/db_meta/models/__init__.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/__init__.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/access_manager.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_proxy_scale.py
  dbm-ui/backend/flow/plugins/components/collections/common/clb_manage.py
  dbm-ui/backend/flow/plugins/components/collections/common/polaris_manage.py
  dbm-ui/backend/flow/utils/clb_manage.py
  dbm-ui/backend/flow/utils/polaris_manage.py
  dbm-ui/backend/flow/utils/redis/redis_context_dataclass.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 修复安装backup_client时传入auth相关参数 #865
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/plugins/components/collections/common/download_backup_client.py
  dbm-ui/backend/flow/utils/common_act_dataclass.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): 模拟执行功能体验优化&Bug fix close #866
  dbm-services/mysql/db-simulation/app/service/simulation_task.go
  dbm-ui/backend/flow/engine/bamboo/scene/spider/import_sqlfile_flow.py
  helm-charts/bk-dbm/templates/dbsimulation-configmap.yaml
Owners: @seanlook, @xfwduke, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix: 修复安装backup_client时传入auth相关参数 #865
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/plugins/components/collections/common/download_backup_client.py
  dbm-ui/backend/flow/utils/common_act_dataclass.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): 模拟执行功能体验优化&Bug fix close #866
  dbm-services/mysql/db-simulation/app/service/simulation_task.go
  dbm-ui/backend/flow/engine/bamboo/scene/spider/import_sqlfile_flow.py
  helm-charts/bk-dbm/templates/dbsimulation-configmap.yaml
Owners: @seanlook, @xfwduke, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): 修复新建 slave 和数据复制一些 bug #807
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/bkdbmon_install.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_backup.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_dts_online_switch.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbactuator/pkg/util/util.go
  dbm-services/redis/db-tools/dbmon/models/myredis/myredis.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/task.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/task.go
  dbm-services/redis/db-tools/dbmon/util/util.go
  dbm-ui/backend/db_meta/api/cluster/nosqlcomm/scale_tendis.py
  dbm-ui/backend/db_services/redis/redis_dts/constants.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/redis_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_add_slave.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_data_copy.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_dts.py
  dbm-ui/backend/flow/utils/redis/redis_act_playload.py
Owners: @lukemakeit, @xiepaup, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin, @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis故障自愈 init #795
  dbm-ui/backend/db_meta/api/meta/apis.py
  dbm-ui/backend/db_services/redis/autofix/__init__.py
  dbm-ui/backend/db_services/redis/autofix/apps.py
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/constants.py
  dbm-ui/backend/db_services/redis/autofix/enums.py
  dbm-ui/backend/db_services/redis/autofix/migrations/0001_initial.py
  dbm-ui/backend/db_services/redis/autofix/migrations/__init__.py
  dbm-ui/backend/db_services/redis/autofix/models.py
  dbm-ui/backend/db_services/redis/autofix/tasks.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_scene_auotfix.py
  dbm-ui/backend/flow/engine/controller/redis.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_autofix.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): 工具箱任务互斥定义 close #874
  dbm-ui/backend/db_services/version/utils.py
  dbm-ui/backend/db_services/version/views.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
  dbm-ui/backend/ticket/exclusive_ticket.xlsx
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 接入层(dns/clb/北极星)调整成单独子流程 close #734
  dbm-ui/backend/db_meta/models/__init__.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/__init__.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/atom_jobs/access_manager.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_proxy_scale.py
  dbm-ui/backend/flow/plugins/components/collections/common/clb_manage.py
  dbm-ui/backend/flow/plugins/components/collections/common/polaris_manage.py
  dbm-ui/backend/flow/utils/clb_manage.py
  dbm-ui/backend/flow/utils/polaris_manage.py
  dbm-ui/backend/flow/utils/redis/redis_context_dataclass.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis故障自愈 bug fix #795
  dbm-ui/backend/db_meta/api/meta/apis.py
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/constants.py
  dbm-ui/backend/db_services/redis/autofix/mock.py
  dbm-ui/backend/db_services/redis/autofix/tasks.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/utils/string.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增分区日志不记录单据状态、去掉访问dbm、添加查询分页的功能 #737
  dbm-services/mysql/db-partition/assests/migrations/000002_create_table.up.sql
  dbm-services/mysql/db-partition/cron/cron.go
  dbm-services/mysql/db-partition/cron/cron_basic_func.go
  dbm-services/mysql/db-partition/handler/handler.go
  dbm-services/mysql/db-partition/model/init_env.go
  dbm-services/mysql/db-partition/router/router.go
  dbm-services/mysql/db-partition/service/check_partition_base_func.go
  dbm-services/mysql/db-partition/service/check_partition_object.go
  dbm-services/mysql/db-partition/service/execute_partition_object.go
  dbm-services/mysql/db-partition/service/manage_config.go
  dbm-services/mysql/db-partition/service/manage_config_object.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_partition.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_partition.py
Owners: @fanfanyangyang, @xfwduke, @seanlook, @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增分区日志不记录单据状态、去掉访问dbm、添加查询分页的功能 #737
  dbm-services/mysql/db-partition/assests/migrations/000002_create_table.up.sql
  dbm-services/mysql/db-partition/cron/cron.go
  dbm-services/mysql/db-partition/cron/cron_basic_func.go
  dbm-services/mysql/db-partition/handler/handler.go
  dbm-services/mysql/db-partition/model/init_env.go
  dbm-services/mysql/db-partition/router/router.go
  dbm-services/mysql/db-partition/service/check_partition_base_func.go
  dbm-services/mysql/db-partition/service/check_partition_object.go
  dbm-services/mysql/db-partition/service/execute_partition_object.go
  dbm-services/mysql/db-partition/service/manage_config.go
  dbm-services/mysql/db-partition/service/manage_config_object.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_partition.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_partition.py
Owners: @fanfanyangyang, @xfwduke, @seanlook, @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): 工具箱任务互斥定义 close #874
  dbm-ui/backend/db_services/version/utils.py
  dbm-ui/backend/db_services/version/views.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
  dbm-ui/backend/ticket/exclusive_ticket.xlsx
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 修复体验问题 #869
  dbm-ui/backend/configuration/migrations/0004_remove_ipwhitelist_db_type.py
  dbm-ui/backend/configuration/models/ip_whitelist.py
  dbm-ui/backend/configuration/serializers.py
  dbm-ui/backend/db_meta/init/spec_init.json
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/db_services/dbbase/resources/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/yasg_slz.py
  dbm-ui/backend/db_services/mysql/resources/tendbha/query.py
  dbm-ui/backend/db_services/partition/handlers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/db_services/partition/views.py
  dbm-ui/backend/db_services/taskflow/views/flow.py
  dbm-ui/backend/ticket/builders/common/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 数据回写 close #877
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis 数据回写 #814
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/bkdbmon_install.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_dts_online_switch.go
  dbm-ui/backend/db_services/redis/redis_dts/apis.py
  dbm-ui/backend/db_services/redis/redis_dts/enums/type_enums.py
  dbm-ui/backend/db_services/redis/redis_dts/util.py
  dbm-ui/backend/db_services/redis/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_data_copy.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_dts.py
  dbm-ui/backend/flow/utils/redis/redis_act_playload.py
  dbm-ui/backend/flow/utils/redis/redis_db_meta.py
  dbm-ui/backend/flow/utils/redis/redis_proxy_util.py
Owners: @lukemakeit, @xiepaup, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin, @zhangzhw8, @gaohongsong, @iSecloud

fix: 校验补充
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin
