Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

chore(helm-charts): update img version close #937
  helm-charts/bk-dbm/charts/db-resource/Chart.yaml
  helm-charts/bk-dbm/charts/db-simulation/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): 监控告警功能 #926 (#927)
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/main-views/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(redis): redis 接入新备份系统 #893
  dbm-services/common/go-pubpkg/backupclient/backupclient.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_backup.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/tendisssd_dr_restore.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupclient.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbactuator/pkg/consts/consts.go
  dbm-services/redis/db-tools/dbmon/cmd/root.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupclient.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbmon/pkg/consts/consts.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/job.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/task.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/backupjob.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/checkjob.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/task.go
  dbm-services/redis/db-tools/dbmon/util/util.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin

fix(backend): update helm version #942
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): update helm version #942
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 数据校验权限;备份配置缺少shard id close #944
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/backupdemand/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_checksum.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_monitor.go
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_db_table_backup.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_full_backup.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 数据校验权限;备份配置缺少shard id close #944
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/backupdemand/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_checksum.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_monitor.go
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_db_table_backup.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_full_backup.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis故障自愈fix #795
  dbm-ui/backend/db_services/redis/autofix/migrations/0001_initial.py
  dbm-ui/backend/db_services/redis/autofix/migrations/0002_auto_20230830_1013.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/components/apply-items/SpecSelector.vue
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/apply/Index.vue
  dbm-ui/frontend/src/views/hdfs-manage/apply/Index.vue
  dbm-ui/frontend/src/views/influxdb-manage/apply/common/base.ts
  dbm-ui/frontend/src/views/influxdb-manage/apply/index.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/kafka-manage/apply/Index.vue
  dbm-ui/frontend/src/views/mysql/apply/hooks/useMysqlData.ts
  dbm-ui/frontend/src/views/pulsar-manage/apply/common/base.ts
  dbm-ui/frontend/src/views/redis/apply/ApplyRedis.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/spider-manage/apply/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsES.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsHDFS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsInfluxDB.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsKafka.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsPulsar.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Details.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(mysql): tendbcluster备份恢复问题修复 close #948
  dbm-services/common/db-config/assets/migrations/000013_kafka_data.up.sql
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/restore.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/logger/dbbackuplog.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): tendbcluster备份恢复问题修复 close #948
  dbm-services/common/db-config/assets/migrations/000013_kafka_data.up.sql
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/restore.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/logger/dbbackuplog.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

redis refactor
  dbm-services/common/dbha/ha-module/agent/connection.go
  dbm-services/common/dbha/ha-module/agent/monitor_agent.go
  dbm-services/common/dbha/ha-module/client/hadb.go
  dbm-services/common/dbha/ha-module/client/name_service.go
  dbm-services/common/dbha/ha-module/constvar/constant.go
  dbm-services/common/dbha/ha-module/dbha.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQLBackend_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQL_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQL_common_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/SpiderProxyLayer_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/SpiderStorageLayer_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_base.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/rediscluster_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/svr_password.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendiscluster_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/register.go
  dbm-services/common/dbha/ha-module/dbutil/db_detect.go
  dbm-services/common/dbha/ha-module/dbutil/db_switch.go
  dbm-services/common/dbha/ha-module/gm/connection.go
  dbm-services/common/dbha/ha-module/gm/gqa.go
  dbm-services/common/dbha/ha-module/ha.yaml
Owners: @zyqlzr, @xjxia

redis refactor
  dbm-services/common/dbha/ha-module/agent/connection.go
  dbm-services/common/dbha/ha-module/agent/monitor_agent.go
  dbm-services/common/dbha/ha-module/client/hadb.go
  dbm-services/common/dbha/ha-module/client/name_service.go
  dbm-services/common/dbha/ha-module/constvar/constant.go
  dbm-services/common/dbha/ha-module/dbha.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQLBackend_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQL_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/MySQL_common_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/SpiderProxyLayer_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/dbmysql/SpiderStorageLayer_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/predixy_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_base.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/redis_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/rediscluster_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/svr_password.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendiscluster_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/tendisplus_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_callback.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_detect.go
  dbm-services/common/dbha/ha-module/dbmodule/redis/twemproxy_switch.go
  dbm-services/common/dbha/ha-module/dbmodule/register.go
  dbm-services/common/dbha/ha-module/dbutil/db_detect.go
  dbm-services/common/dbha/ha-module/dbutil/db_switch.go
  dbm-services/common/dbha/ha-module/gm/connection.go
  dbm-services/common/dbha/ha-module/gm/gqa.go
  dbm-services/common/dbha/ha-module/ha.yaml
Owners: @zyqlzr, @xjxia

fix(dbm-services): 更新tdbctl 容器初始化 close #952
  dbm-services/mysql/db-simulation/app/service/kubernets.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/semantic_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_dumper.go
  helm-charts/bk-dbm/charts/db-simulation/Chart.yaml
  helm-charts/bk-dbm/templates/dbsimulation-configmap.yaml
Owners: @seanlook, @xfwduke, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/components/apply-items/SpecSelector.vue
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/es-manage/apply/Index.vue
  dbm-ui/frontend/src/views/hdfs-manage/apply/Index.vue
  dbm-ui/frontend/src/views/influxdb-manage/apply/common/base.ts
  dbm-ui/frontend/src/views/influxdb-manage/apply/index.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/kafka-manage/apply/Index.vue
  dbm-ui/frontend/src/views/mysql/apply/hooks/useMysqlData.ts
  dbm-ui/frontend/src/views/pulsar-manage/apply/common/base.ts
  dbm-ui/frontend/src/views/redis/apply/ApplyRedis.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/spider-manage/apply/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsES.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsHDFS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsInfluxDB.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsKafka.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsPulsar.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Details.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(dbm-services): 更新tdbctl 容器初始化 close #952
  dbm-services/mysql/db-simulation/app/service/kubernets.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/semantic_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_dumper.go
  helm-charts/bk-dbm/charts/db-simulation/Chart.yaml
  helm-charts/bk-dbm/templates/dbsimulation-configmap.yaml
Owners: @seanlook, @xfwduke, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): adapt tdbctl init sqls close #954
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat(mysql): 集群标准化 close #933
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/deploy_mysql_crond.go
  dbm-services/mysql/db-tools/dbactuator/pkg/core/cst/mysql.go
  dbm-services/mysql/db-tools/mysql-crond/cmd/root.go
  dbm-ui/backend/flow/engine/bamboo/scene/common/get_file_list.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_ha_standardize_flow.py
  dbm-ui/backend/flow/engine/controller/mysql.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/cluster_standardize_trans_module.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/views/tendb_ha_standardize.py
  dbm-ui/backend/ticket/constants.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): adapt tdbctl init sqls close #954
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat(mysql): 集群标准化 close #933
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/deploy_mysql_crond.go
  dbm-services/mysql/db-tools/dbactuator/pkg/core/cst/mysql.go
  dbm-services/mysql/db-tools/mysql-crond/cmd/root.go
  dbm-ui/backend/flow/engine/bamboo/scene/common/get_file_list.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_ha_standardize_flow.py
  dbm-ui/backend/flow/engine/controller/mysql.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/cluster_standardize_trans_module.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/views/tendb_ha_standardize.py
  dbm-ui/backend/ticket/constants.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 资源池参数修复&dumper单据 #961
  dbm-ui/backend/db_proxy/views/db_meta/serializers.py
  dbm-ui/backend/db_proxy/views/db_meta/views.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/handlers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/mock_data.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/serializers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/views.py
  dbm-ui/backend/db_services/mysql/sql_import/handlers.py
  dbm-ui/backend/db_services/mysql/sql_import/mock_data.py
  dbm-ui/backend/db_services/mysql/sql_import/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_rollback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_recover.py
  dbm-ui/backend/flow/plugins/components/collections/common/download_backup_client.py
  dbm-ui/backend/flow/plugins/components/collections/common/pause.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/semantic_check.py
  dbm-ui/backend/flow/utils/spider/tendb_cluster_info.py
  dbm-ui/backend/flow/views/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/__init__.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_clear.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_reduce_nodes.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_switch.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_node_reblance.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_rename.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_apply.py
  dbm-ui/backend/ticket/constants.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 增加亲和性屏蔽环境变量 #961
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/env/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/views/redis/common/edit/Select.vue
  dbm-ui/frontend/src/views/spider-manage/add-mnt/pages/page1/components/RenderData/RenderNet.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderCapacity.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderMachinePairCnt.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderResourceSpec.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderShardNum.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderTargetResourceSpec.vue
  dbm-ui/frontend/src/views/spider-manage/common/edit/Input.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderCloudArea.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderModule.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-inst/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-inst/pages/page1/components/RenderData/RenderModule.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/views/spider-manage/common/edit/Input.vue
  dbm-ui/frontend/src/views/spider-manage/db-rename/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(backend): 资源池参数修复&dumper单据 #961
  dbm-ui/backend/db_proxy/views/db_meta/serializers.py
  dbm-ui/backend/db_proxy/views/db_meta/views.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/handlers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/mock_data.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/serializers.py
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/views.py
  dbm-ui/backend/db_services/mysql/sql_import/handlers.py
  dbm-ui/backend/db_services/mysql/sql_import/mock_data.py
  dbm-ui/backend/db_services/mysql/sql_import/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_rollback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_recover.py
  dbm-ui/backend/flow/plugins/components/collections/common/download_backup_client.py
  dbm-ui/backend/flow/plugins/components/collections/common/pause.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/semantic_check.py
  dbm-ui/backend/flow/utils/spider/tendb_cluster_info.py
  dbm-ui/backend/flow/views/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/__init__.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_clear.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_reduce_nodes.py
  dbm-ui/backend/ticket/builders/tbinlogdumper/dumper_switch.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_node_reblance.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_rename.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_apply.py
  dbm-ui/backend/ticket/constants.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 增加亲和性屏蔽环境变量 #961
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/env/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 修复tendbcluster恢复问题 close #958
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

fix(backend): update helm version #968
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 修复tendbcluster恢复问题 close #958
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat: 补充DB名校验接口
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 修复扩缩容安装备份失败 #967
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_rollback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): update helm version #968
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 补充DB名校验接口
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/views/redis/common/edit/Select.vue
  dbm-ui/frontend/src/views/spider-manage/add-mnt/pages/page1/components/RenderData/RenderNet.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderCapacity.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderMachinePairCnt.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderResourceSpec.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderShardNum.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderTargetResourceSpec.vue
  dbm-ui/frontend/src/views/spider-manage/common/edit/Input.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-failover/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/master-slave-swap/pages/page1/components/RenderData/RenderSlave.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderCloudArea.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderModule.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-inst/pages/page1/components/RenderData/RenderCluster.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-inst/pages/page1/components/RenderData/RenderModule.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/views/spider-manage/common/edit/Input.vue
  dbm-ui/frontend/src/views/spider-manage/db-rename/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/components/render-table/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/components/render-table/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/components/render-table/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(kafka): Support unsecurity cluster close #827
  dbm-services/bigdata/db-tools/dbactuator/pkg/components/kafka/install_kafka.go
  dbm-ui/backend/flow/engine/bamboo/scene/kafka/kafka_scale_up_flow.py
  dbm-ui/backend/flow/plugins/components/collections/kafka/kafka_config.py
  dbm-ui/backend/flow/utils/kafka/kafka_act_playload.py
Owners: @zhangrq5, @zvictorino, @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/components/tools-table-common/RenderText.vue
  dbm-ui/frontend/src/components/tools-table-common/hooks/useValidtor.ts
  dbm-ui/frontend/src/components/tools-table-input/index.vue
  dbm-ui/frontend/src/components/tools-table-spec/index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/RenderCurrentCapacity.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/RenderTargetCapacity.vue
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/common/edit/Input.vue
  dbm-ui/frontend/src/views/redis/common/edit/Tag.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/common/utils.ts
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedis.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedisFailHost.vue
  dbm-ui/frontend/src/views/redis/data-check-repair/pages/page1/basic-info-table/Index.vue
  dbm-ui/frontend/src/views/redis/db-create-slave/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/cross-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/intra-business-third/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/selfbuilt-clusters-intra-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/within-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-replace/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-replace/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/db-structure/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-structure/pages/page1/components/RenderTargetHostNumber.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderCluster.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderMasterInstance.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderSlaveHost.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/recover-from-instance/pages/page1/components/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin
