Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

fix(mysql): flashback单据库表打开检查挪到flow里面 close #895
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/rollback/flashback.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_flashback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_flashback.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/filter_database_table_by_flashback_input.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/filter_database_table_from_regex.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/general_check_db_in_using.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_context_dataclass.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis故障自愈 add flow #795
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_instance_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_scene_auotfix.py
  dbm-ui/backend/flow/engine/controller/redis.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_ticket.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_cut_off.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_instance_shutdown.py
  dbm-ui/backend/ticket/constants.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/password-policy/routes.ts
  dbm-ui/frontend/src/views/spider-manage/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/password-policy/routes.ts
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AccountInfoDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/routes.ts
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/components/WhitelistOperation.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AccountInfoDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/services/types/whitelist.ts
  dbm-ui/frontend/src/services/whitelist.ts
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/checksum/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/index.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/ClusterRelatedInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/index.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/index.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-pool/record/Index.vue
  dbm-ui/frontend/src/views/service-apply/components/ApplyCollapse.vue
  dbm-ui/frontend/src/views/service-apply/index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/components/WhitelistOperation.vue
  dbm-ui/frontend/src/views/tickets/common/components/baseinfo/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/flow-content/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/flow-content/components/ContentInnerFlow.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/components/flow/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/list/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/List.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/details/Index.vue
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/service-apply/components/ApplyCollapse.vue
  dbm-ui/frontend/src/views/service-apply/index.vue
  dbm-ui/frontend/src/views/staff-setting/index.vue
  dbm-ui/frontend/src/views/tickets/common/components/baseinfo/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/components/flow/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/list/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/List.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/details/Index.vue
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
  dbm-ui/frontend/src/views/whitelist/pages/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/checksum/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/index.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/ClusterRelatedInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/index.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/index.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxContent.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/RenderTable.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/components/ResourceSpecStorage.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/import-host/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/import-host/components/FormPanel.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/components/CollectSearchParams.vue
  dbm-ui/frontend/src/views/resource-pool/record/Index.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/redis/toolbox.ts
  dbm-ui/frontend/src/views/redis/common/cluster-deploy-plan/Index.vue
  dbm-ui/frontend/src/views/redis/common/cluster-selector/useClusterData.ts
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedis.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/redis/toolbox.ts
  dbm-ui/frontend/src/views/redis/common/cluster-deploy-plan/Index.vue
  dbm-ui/frontend/src/views/redis/common/cluster-selector/useClusterData.ts
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedis.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(redis): redis故障自愈init #795
  dbm-ui/backend/db_meta/api/meta/apis.py
  dbm-ui/backend/db_services/redis/autofix/__init__.py
  dbm-ui/backend/db_services/redis/autofix/apps.py
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/const.py
  dbm-ui/backend/db_services/redis/autofix/enums.py
  dbm-ui/backend/db_services/redis/autofix/migrations/0001_initial.py
  dbm-ui/backend/db_services/redis/autofix/migrations/__init__.py
  dbm-ui/backend/db_services/redis/autofix/models.py
  dbm-ui/backend/db_services/redis/autofix/tasks.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_instance_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_scene_auotfix.py
  dbm-ui/backend/flow/engine/controller/redis.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_ticket.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_autofix.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_instance_shutdown.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/backend/utils/string.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis故障自愈fix #795
  dbm-ui/backend/db_services/redis/autofix/apps.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

refactor(frontend): css优化 #915
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/db-configure/business/ConfigEdit.vue
  dbm-ui/frontend/src/views/db-configure/business/Content.vue
  dbm-ui/frontend/src/views/db-configure/business/biz/ConfigDatabase.vue
  dbm-ui/frontend/src/views/db-configure/business/components/ConfigEmpty.vue
  dbm-ui/frontend/src/views/db-configure/business/module/ConfigDetails.vue
  dbm-ui/frontend/src/views/event-center/pages/DBHASwitchEvents.vue
  dbm-ui/frontend/src/views/exception/404.vue
  dbm-ui/frontend/src/views/exception/Error.vue
  dbm-ui/frontend/src/views/influxdb-manage/apply/components/GroupItem.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/GroupList.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/mission/components/NodeLog.vue
  dbm-ui/frontend/src/views/mission/components/PreviewHost.vue
  dbm-ui/frontend/src/views/mission/pages/Details.vue
  dbm-ui/frontend/src/views/mission/pages/index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat: 远程注册API周期任务开发
  dbm-ui/backend/components/celery_service/__init__.py
  dbm-ui/backend/components/celery_service/client.py
  dbm-ui/backend/components/domains.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/env/apigw_domains.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

chore: 调整目录结构
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/spider-manage/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/CreateModule.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/components/ModuleItem.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/components/ModuleParameterTable.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/InstanceView.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/DetailsInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/ParamsConfig.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/list/ListInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list/MainView.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/DetailsTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/ListTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/ScaleUp.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/Shrink.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/SpecInfo.vue
  dbm-ui/frontend/src/views/spider-manage/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

refactor(dbm-services): 优化库表名称合法检查 close #917
  dbm-services/mysql/db-simulation/README.md
  dbm-services/mysql/db-simulation/app/keyworld/keyworld.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql55.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql56.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql57.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql80.go
  dbm-services/mysql/db-simulation/app/syntax/builtin_rule.go
  dbm-services/mysql/db-simulation/app/syntax/builtin_rule_test.go
  dbm-services/mysql/db-simulation/app/syntax/create_db_rule.go
  dbm-services/mysql/db-simulation/app/syntax/create_table_rule.go
  dbm-services/mysql/db-simulation/app/syntax/mysql_keyword.go
  dbm-services/mysql/db-simulation/app/syntax/rule.go
  dbm-services/mysql/db-simulation/rule.yaml
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_os.go
Owners: @seanlook, @xfwduke, @ymakedaq, @yksitu

chore: 根据组件类型调整 tsx 返回
  dbm-ui/frontend/src/views/es-manage/list/index.vue
  dbm-ui/frontend/src/views/hdfs-manage/list/index.vue
  dbm-ui/frontend/src/views/kafka-manage/list/Index.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

chore: 调整目录结构
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/spider-manage/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/CreateModule.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/Index.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/components/ModuleItem.vue
  dbm-ui/frontend/src/views/spider-manage/cluster-manage/apply/components/ModuleParameterTable.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/InstanceView.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/DetailsInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/ParamsConfig.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/list/ListInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list/MainView.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/DetailsTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/ListTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/ScaleUp.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/Shrink.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/SpecInfo.vue
  dbm-ui/frontend/src/views/spider-manage/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

chore: 根据组件类型调整 tsx 返回
  dbm-ui/frontend/src/views/es-manage/list/index.vue
  dbm-ui/frontend/src/views/hdfs-manage/list/index.vue
  dbm-ui/frontend/src/views/kafka-manage/list/Index.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

refactor(frontend): css优化 #915
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/db-configure/business/ConfigEdit.vue
  dbm-ui/frontend/src/views/db-configure/business/Content.vue
  dbm-ui/frontend/src/views/db-configure/business/biz/ConfigDatabase.vue
  dbm-ui/frontend/src/views/db-configure/business/components/ConfigEmpty.vue
  dbm-ui/frontend/src/views/db-configure/business/module/ConfigDetails.vue
  dbm-ui/frontend/src/views/event-center/pages/DBHASwitchEvents.vue
  dbm-ui/frontend/src/views/exception/404.vue
  dbm-ui/frontend/src/views/exception/Error.vue
  dbm-ui/frontend/src/views/influxdb-manage/apply/components/GroupItem.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/GroupList.vue
  dbm-ui/frontend/src/views/influxdb-manage/components/InstanceList.vue
  dbm-ui/frontend/src/views/mission/components/NodeLog.vue
  dbm-ui/frontend/src/views/mission/components/PreviewHost.vue
  dbm-ui/frontend/src/views/mission/pages/Details.vue
  dbm-ui/frontend/src/views/mission/pages/index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/redis/toolbox/components/ToolboxSide.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 监控告警功能 #926
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/main-views/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/redis/toolbox/components/ToolboxSide.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(redis): redis故障自愈fix #795
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/redis_autofix.py
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/migrations/0002_auto_20230830_1013.py
  dbm-ui/backend/db_services/redis/autofix/models.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/utils/string.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): flashback单据库表打开检查挪到flow里面 close #895
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/rollback/flashback.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_flashback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_flashback.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/filter_database_table_by_flashback_input.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/filter_database_table_from_regex.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/general_check_db_in_using.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_context_dataclass.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): 隐藏被销毁的构造记录 close #928
  dbm-ui/backend/db_services/redis/rollback/models/tb_tendis_data_construction_task.py
  dbm-ui/backend/db_services/redis/rollback/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 增加TBinlogdumper切换流程，同时优化上架和下架流程 #884
  dbm-ui/backend/db_meta/api/cluster/tendbha/handler.py
  dbm-ui/backend/db_meta/migrations/0019_auto_20230829_1133.py
  dbm-ui/backend/db_meta/models/extra_process.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/reduce_node.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/switch_nodes.py
  dbm-ui/backend/flow/engine/controller/tbinlogdumper.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/stop_slave.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_db_meta.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/views/tbinlogdumper_reduce.py
  dbm-ui/backend/flow/views/tbinlogdumper_switch.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 增加TBinlogdumper切换流程，同时优化上架和下架流程 #884
  dbm-ui/backend/db_meta/api/cluster/tendbha/handler.py
  dbm-ui/backend/db_meta/migrations/0019_auto_20230829_1133.py
  dbm-ui/backend/db_meta/models/extra_process.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/reduce_node.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/switch_nodes.py
  dbm-ui/backend/flow/engine/controller/tbinlogdumper.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/stop_slave.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_db_meta.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/views/tbinlogdumper_reduce.py
  dbm-ui/backend/flow/views/tbinlogdumper_switch.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(redis): 隐藏被销毁的构造记录 close #928
  dbm-ui/backend/db_services/redis/rollback/models/tb_tendis_data_construction_task.py
  dbm-ui/backend/db_services/redis/rollback/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis 接入新备份系统 #893
  dbm-services/common/go-pubpkg/backupclient/backupclient.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_backup.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/tendisssd_dr_restore.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupclient.go
  dbm-services/redis/db-tools/dbactuator/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbactuator/pkg/consts/consts.go
  dbm-services/redis/db-tools/dbmon/cmd/root.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupclient.go
  dbm-services/redis/db-tools/dbmon/pkg/backupsys/backupsys.go
  dbm-services/redis/db-tools/dbmon/pkg/consts/consts.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/job.go
  dbm-services/redis/db-tools/dbmon/pkg/redisbinlogbackup/task.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/backupjob.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/checkjob.go
  dbm-services/redis/db-tools/dbmon/pkg/redisfullbackup/task.go
  dbm-services/redis/db-tools/dbmon/util/util.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin

fix: 增加DB校验字段 #919
  dbm-ui/backend/bk_web/handlers.py
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/db_services/dbresource/views/sepc.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/tests/db_periodic_task/test_register_tasks.py
  dbm-ui/backend/tests/mock_data/components/celery_service.py
  dbm-ui/backend/ticket/builders/common/base.py
  dbm-ui/backend/ticket/builders/mysql/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_checksum.py
  dbm-ui/backend/ticket/builders/mysql/mysql_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/mysql/mysql_flashback.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_backup.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_clear.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/builders/mysql/mysql_partition.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_checksum.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_node_reblance.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/AddSlave.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterCapacityUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterShardUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterTypeUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DBReplace.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DataCopy.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DataStructure.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/MasterFailover.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ProxyScaleDown.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ProxyScaleUp.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/RollbackDataCopy.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/AddSlave.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterCapacityUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterShardUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ClusterTypeUpdate.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DBReplace.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DataCopy.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/DataStructure.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/MasterFailover.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ProxyScaleDown.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/ProxyScaleUp.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/RollbackDataCopy.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix: 增加DB校验字段 #919
  dbm-ui/backend/bk_web/handlers.py
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/db_services/dbresource/views/sepc.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/tests/db_periodic_task/test_register_tasks.py
  dbm-ui/backend/tests/mock_data/components/celery_service.py
  dbm-ui/backend/ticket/builders/common/base.py
  dbm-ui/backend/ticket/builders/mysql/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_checksum.py
  dbm-ui/backend/ticket/builders/mysql/mysql_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/mysql/mysql_flashback.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_backup.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_clear.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/builders/mysql/mysql_partition.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_checksum.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_node_reblance.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 远程注册API周期任务开发
  dbm-ui/backend/components/celery_service/__init__.py
  dbm-ui/backend/components/celery_service/client.py
  dbm-ui/backend/components/domains.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/env/apigw_domains.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

refactor(dbm-services): 优化库表名称合法检查 close #917
  dbm-services/mysql/db-simulation/README.md
  dbm-services/mysql/db-simulation/app/keyworld/keyworld.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql55.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql56.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql57.go
  dbm-services/mysql/db-simulation/app/keyworld/mysql80.go
  dbm-services/mysql/db-simulation/app/syntax/builtin_rule.go
  dbm-services/mysql/db-simulation/app/syntax/builtin_rule_test.go
  dbm-services/mysql/db-simulation/app/syntax/create_db_rule.go
  dbm-services/mysql/db-simulation/app/syntax/create_table_rule.go
  dbm-services/mysql/db-simulation/app/syntax/mysql_keyword.go
  dbm-services/mysql/db-simulation/app/syntax/rule.go
  dbm-services/mysql/db-simulation/rule.yaml
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_os.go
Owners: @seanlook, @xfwduke, @ymakedaq, @yksitu

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/common/cluster-selector/ClusterSelector.vue
  dbm-ui/frontend/src/views/redis/data-check-repair/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/db-create-slave/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/SpecPanel.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/SpecSelect.vue
  dbm-ui/frontend/src/views/redis/recover-from-instance/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

chore(helm-charts): update img version close #937
  helm-charts/bk-dbm/charts/db-resource/Chart.yaml
  helm-charts/bk-dbm/charts/db-simulation/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/common/cluster-selector/ClusterSelector.vue
  dbm-ui/frontend/src/views/redis/data-check-repair/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/db-create-slave/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/SpecPanel.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/SpecSelect.vue
  dbm-ui/frontend/src/views/redis/recover-from-instance/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin
