Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

feat(kafka): Support unsecurity cluster close #827
  dbm-services/bigdata/db-tools/dbactuator/pkg/components/kafka/install_kafka.go
  dbm-ui/backend/flow/engine/bamboo/scene/kafka/kafka_scale_up_flow.py
  dbm-ui/backend/flow/plugins/components/collections/kafka/kafka_config.py
  dbm-ui/backend/flow/utils/kafka/kafka_act_playload.py
Owners: @zhangrq5, @zvictorino, @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): tendbCluster数据节点扩缩容bug修复 (#972)
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_rollback_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(mysql): 备份恢复命令支持EnableBinlog 控制 close #977
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/dbloader_util.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/restore.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/public.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/dumper_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

fix(backend): celery task service 镜像打包 close #971
  dbm-services/common/celery-service/.gitignore
  dbm-services/common/celery-service/Dockerfile
  dbm-services/common/celery-service/Makefile
  dbm-services/common/celery-service/collect/counter.sh
  dbm-services/common/celery-service/external-tasks.yaml
  dbm-services/common/celery-service/main.go
  dbm-services/common/celery-service/pkg/config/init.go
  dbm-services/common/celery-service/pkg/handler/internalhandler/democounter/counter.go
  dbm-services/common/celery-service/readme.md
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq

feat(mysql): 备份恢复命令支持EnableBinlog 控制 close #977
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/dbloader_util.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/restore.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/public.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/dumper_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/common/const.ts
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/types/ticket.ts
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/spider-manage/common/cluster-selector/ProxyReadonlyClusterSelector.vue
  dbm-ui/frontend/src/views/spider-manage/common/edit-field/RenderSpec.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopo.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-up/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-slave-apply/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/sql-execute/steps/step2/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/ImportSQLFile.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Rollback.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902 (#981)
  dbm-ui/frontend/src/common/const.ts
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/types/ticket.ts
  dbm-ui/frontend/src/styles/common.less
  dbm-ui/frontend/src/views/spider-manage/common/cluster-selector/ProxyReadonlyClusterSelector.vue
  dbm-ui/frontend/src/views/spider-manage/common/edit-field/RenderSpec.vue
  dbm-ui/frontend/src/views/spider-manage/common/spider-instance-selector/components/RenderTopo.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-down/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-up/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/spider-manage/proxy-slave-apply/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/sql-execute/steps/step2/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/ImportSQLFile.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Rollback.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(backend): celery task service 镜像打包 close #971
  dbm-services/common/celery-service/.gitignore
  dbm-services/common/celery-service/Dockerfile
  dbm-services/common/celery-service/Makefile
  dbm-services/common/celery-service/collect/counter.sh
  dbm-services/common/celery-service/external-tasks.yaml
  dbm-services/common/celery-service/main.go
  dbm-services/common/celery-service/pkg/config/init.go
  dbm-services/common/celery-service/pkg/handler/internalhandler/democounter/counter.go
  dbm-services/common/celery-service/readme.md
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq

feat(redis): redis故障自愈init #795 (#916)
  dbm-ui/backend/db_meta/api/meta/apis.py
  dbm-ui/backend/db_periodic_task/local_tasks/redis_autofix.py
  dbm-ui/backend/db_services/redis/autofix/__init__.py
  dbm-ui/backend/db_services/redis/autofix/apps.py
  dbm-ui/backend/db_services/redis/autofix/bill.py
  dbm-ui/backend/db_services/redis/autofix/const.py
  dbm-ui/backend/db_services/redis/autofix/enums.py
  dbm-ui/backend/db_services/redis/autofix/migrations/0001_initial.py
  dbm-ui/backend/db_services/redis/autofix/migrations/__init__.py
  dbm-ui/backend/db_services/redis/autofix/models.py
  dbm-ui/backend/db_services/redis/autofix/watcher.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_instance_shutdown.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_scene_auotfix.py
  dbm-ui/backend/flow/engine/controller/redis.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_ticket.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_autofix.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_instance_shutdown.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): spider工具箱自测问题 #902 (#981)
  dbm-ui/frontend/src/components/cluster-spec-plan-selector/Index.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/clusters.ts
  dbm-ui/frontend/src/services/remoteService.ts
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/common/edit-field/DbName.vue
  dbm-ui/frontend/src/views/mysql/common/edit-field/TableName.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/sql-execute/steps/step1/components/target-db/RenderData/RenderDbName.vue
  dbm-ui/frontend/src/views/spider-manage/add-mnt/pages/page1/components/RenderData/RenderNet.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/Index.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/RenderEndTime.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/RenderStartTime.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/Row.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderTarget.vue
  dbm-ui/frontend/src/views/spider-manage/rollback-record/Index.vue
  dbm-ui/frontend/src/views/spider-manage/sql-execute/steps/step1/components/target-db/RenderData/RenderDbName.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider工具箱自测问题 #902 (#981)
  dbm-ui/frontend/src/components/cluster-spec-plan-selector/Index.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/clusters.ts
  dbm-ui/frontend/src/services/remoteService.ts
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/common/edit-field/DbName.vue
  dbm-ui/frontend/src/views/mysql/common/edit-field/TableName.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/sql-execute/steps/step1/components/target-db/RenderData/RenderDbName.vue
  dbm-ui/frontend/src/views/spider-manage/add-mnt/pages/page1/components/RenderData/RenderNet.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/Index.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/RenderEndTime.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/RenderStartTime.vue
  dbm-ui/frontend/src/views/spider-manage/flashback/pages/page1/components/RenderData/Row.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/Index.vue
  dbm-ui/frontend/src/views/spider-manage/privilege-clone-client/pages/page1/components/RenderData/RenderTarget.vue
  dbm-ui/frontend/src/views/spider-manage/rollback-record/Index.vue
  dbm-ui/frontend/src/views/spider-manage/sql-execute/steps/step1/components/target-db/RenderData/RenderDbName.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat: tendb cluster 从库恢复/本地恢复 待联调 #887
  dbm-ui/backend/db_meta/api/cluster/tendbcluster/remotedb_node_migrate.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/remote_local_slave_recover.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/remote_slave_recover.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remote_node_migrate.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/spider/spider_db_meta.py
  dbm-ui/backend/flow/utils/spider/tendb_cluster_info.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/components/apply-items/BackendQPSSpec.vue
  dbm-ui/frontend/src/components/cluster-selector/ClusterSelector.vue
  dbm-ui/frontend/src/components/cluster-selector/SpiderClusterSelector.vue
  dbm-ui/frontend/src/components/cluster-spec-plan-selector/Index.vue
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/model/spider/tendbCluster.ts
  dbm-ui/frontend/src/views/mysql/apply/components/MySQLDomainTable.vue
  dbm-ui/frontend/src/views/mysql/apply/components/PreviewTable.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoHaInstance.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoSingle.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/hooks/useListData.ts
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHaInstance.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecCreate.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/list/ListInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/ListTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/CapacityChange.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/ScaleUp.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/Shrink.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/components/apply-items/BackendQPSSpec.vue
  dbm-ui/frontend/src/components/cluster-selector/ClusterSelector.vue
  dbm-ui/frontend/src/components/cluster-selector/SpiderClusterSelector.vue
  dbm-ui/frontend/src/components/cluster-spec-plan-selector/Index.vue
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/model/spider/tendbCluster.ts
  dbm-ui/frontend/src/views/mysql/apply/components/MySQLDomainTable.vue
  dbm-ui/frontend/src/views/mysql/apply/components/PreviewTable.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoHaInstance.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/components/BaseInfoSingle.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/details/hooks/useListData.ts
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHa.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListHaInstance.vue
  dbm-ui/frontend/src/views/mysql/cluster-management/list/ListSingle.vue
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecCreate.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list-instance/list/ListInstance.vue
  dbm-ui/frontend/src/views/spider-manage/list/details/components/BaseInfo.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/ListTendb.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/CapacityChange.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/ScaleUp.vue
  dbm-ui/frontend/src/views/spider-manage/list/list/components/Shrink.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(redis): 数据复制域名解析 #941
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/bkdbmon_install.go
  dbm-ui/backend/db_services/redis/redis_dts/constants.py
  dbm-ui/backend/db_services/redis/redis_dts/migrations/0012_auto_20230831_0936.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_data_copy.py
Owners: @lukemakeit, @xiepaup, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 修复资源确认bug #985
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 修复资源确认bug #985
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 修复dbconfig migrate close #988
  dbm-services/common/db-config/assets/migrations/000013_kafka_data.up.sql
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/common/db-config/assets/migrations/000021_tendbsingle_data.up.sql
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
  dbm-services/mysql/db-tools/mysql-dbbackup/cmd/subcmd_dump.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/backup_client.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/dbareport/report.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/spider/global_backup.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/components/tools-table-common/RenderText.vue
  dbm-ui/frontend/src/components/tools-table-common/hooks/useValidtor.ts
  dbm-ui/frontend/src/components/tools-table-input/index.vue
  dbm-ui/frontend/src/components/tools-table-spec/index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/RenderCurrentCapacity.vue
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/RenderTargetCapacity.vue
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/common/edit/Input.vue
  dbm-ui/frontend/src/views/redis/common/edit/Tag.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/common/utils.ts
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedis.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedisFailHost.vue
  dbm-ui/frontend/src/views/redis/data-check-repair/pages/page1/basic-info-table/Index.vue
  dbm-ui/frontend/src/views/redis/db-create-slave/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/cross-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/intra-business-third/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/selfbuilt-clusters-intra-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-data-copy/pages/page1/components/within-business/Index.vue
  dbm-ui/frontend/src/views/redis/db-replace/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-replace/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/db-structure/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/db-structure/pages/page1/components/RenderTargetHostNumber.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderCluster.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderMasterInstance.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/RenderSlaveHost.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-down/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderNodeType.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/RenderSpec.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/components/Row.vue
  dbm-ui/frontend/src/views/redis/recover-from-instance/pages/page1/components/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(mysql): 修复dbconfig migrate close #988
  dbm-services/common/db-config/assets/migrations/000013_kafka_data.up.sql
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/common/db-config/assets/migrations/000021_tendbsingle_data.up.sql
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
  dbm-services/mysql/db-tools/mysql-dbbackup/cmd/subcmd_dump.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/backup_client.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/dbareport/report.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/spider/global_backup.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/components/tools-table-common/RenderText.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/components/tools-table-common/RenderText.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): redis工具箱自测问题 #855
  dbm-ui/frontend/src/components/tools-table-common/RenderText.vue
  dbm-ui/frontend/src/views/redis/master-failover/pages/page1/Index.vue
  dbm-ui/frontend/src/views/redis/proxy-scale-up/pages/page1/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(backend): celery service 增加服务发现接口 close #994
  dbm-services/common/celery-service/main.go
  dbm-services/common/celery-service/pkg/handler/discovery.go
  dbm-services/common/celery-service/pkg/handler/externalhandler/impl_ihandler.go
  dbm-services/common/celery-service/pkg/handler/init.go
  dbm-services/common/celery-service/pkg/handler/internalhandler/democounter/counter.go
  dbm-services/common/celery-service/pkg/handler/list.go
  dbm-services/common/celery-service/pkg/service/init.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq

feat: 增加TBinlogdumper的全量同步的场 #939
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/backup_demand_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/cmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/dump_schema_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/backupdemand/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/unintall_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysqlclient_exec.go
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/trans_flies.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/__init__.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/dumper_data.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/trans_backup_file.py
  dbm-ui/backend/flow/utils/base/payload_handler.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_dataclass.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/utils/tbinlogdumper/tbinlogdumper_act_payload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 导入报错修复 close #998
  dbm-ui/backend/db_meta/utils.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(helm-charts): 更新chart close #1001
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(helm-charts): 更新chart close #1001
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 导入报错修复 close #998
  dbm-ui/backend/db_meta/utils.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): celery service 增加服务发现接口 close #994
  dbm-services/common/celery-service/main.go
  dbm-services/common/celery-service/pkg/handler/discovery.go
  dbm-services/common/celery-service/pkg/handler/externalhandler/impl_ihandler.go
  dbm-services/common/celery-service/pkg/handler/init.go
  dbm-services/common/celery-service/pkg/handler/internalhandler/democounter/counter.go
  dbm-services/common/celery-service/pkg/handler/list.go
  dbm-services/common/celery-service/pkg/service/init.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq

feat(backend): 接入污点池 close #1006
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_add_slave.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_fixpoint_make.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_redis_scale_updown.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): celery-service服务helm chart编写 #1002
  dbm-ui/backend/components/base.py
  dbm-ui/backend/components/celery_service/client.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/db_services/cmdb/constants.py
  dbm-ui/backend/db_services/cmdb/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_slave_cluster_destroy.py
  dbm-ui/backend/flow/engine/controller/spider.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/semantic_check.py
  dbm-ui/backend/flow/utils/spider/spider_db_meta.py
  dbm-ui/backend/tests/mock_data/components/celery_service.py
  dbm-ui/backend/ticket/builders/tendbcluster/base.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_apply.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_destroy.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/config/default.py
  helm-charts/bk-dbm/Chart.lock
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/db-celery-service/.helmignore
  helm-charts/bk-dbm/charts/db-celery-service/Chart.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/NOTES.txt
  helm-charts/bk-dbm/charts/db-celery-service/templates/_helpers.tpl
  helm-charts/bk-dbm/charts/db-celery-service/templates/deployment.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/hpa.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/ingress.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/service.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/serviceaccount.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/tests/test-connection.yaml
  helm-charts/bk-dbm/charts/db-celery-service/values.yaml
  helm-charts/bk-dbm/templates/db-celery-service-configmap.yaml
  helm-charts/bk-dbm/values.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 修复单元测试
  dbm-ui/backend/tests/flow/components/collections/mysql/test_exec_actuator_script.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): celery-service服务helm chart编写 #1002
  dbm-ui/backend/components/base.py
  dbm-ui/backend/components/celery_service/client.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/db_services/cmdb/constants.py
  dbm-ui/backend/db_services/cmdb/serializers.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remotedb_rebalance_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_slave_cluster_destroy.py
  dbm-ui/backend/flow/engine/controller/spider.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/semantic_check.py
  dbm-ui/backend/flow/utils/spider/spider_db_meta.py
  dbm-ui/backend/tests/mock_data/components/celery_service.py
  dbm-ui/backend/ticket/builders/tendbcluster/base.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_apply.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_spider_slave_destroy.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/config/default.py
  helm-charts/bk-dbm/Chart.lock
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/db-celery-service/.helmignore
  helm-charts/bk-dbm/charts/db-celery-service/Chart.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/NOTES.txt
  helm-charts/bk-dbm/charts/db-celery-service/templates/_helpers.tpl
  helm-charts/bk-dbm/charts/db-celery-service/templates/deployment.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/hpa.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/ingress.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/service.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/serviceaccount.yaml
  helm-charts/bk-dbm/charts/db-celery-service/templates/tests/test-connection.yaml
  helm-charts/bk-dbm/charts/db-celery-service/values.yaml
  helm-charts/bk-dbm/templates/db-celery-service-configmap.yaml
  helm-charts/bk-dbm/values.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 增加TBinlogdumper的全量同步的场 #939
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/backup_demand_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/cmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/dump_schema_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/backupdemand/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/unintall_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysqlclient_exec.go
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/trans_flies.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/__init__.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/dumper_data.py
  dbm-ui/backend/flow/plugins/components/collections/tbinlogdumper/trans_backup_file.py
  dbm-ui/backend/flow/utils/base/payload_handler.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_dataclass.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/utils/tbinlogdumper/tbinlogdumper_act_payload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix: 修复单元测试
  dbm-ui/backend/tests/flow/components/collections/mysql/test_exec_actuator_script.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): 接入污点池 close #1006
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_add_slave.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_fixpoint_make.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_redis_scale_updown.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(helm-charts): 更新chart close #1008
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(helm-charts): 更新chart close #1008
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): agent2.0适配 close #1013
  dbm-ui/backend/components/gse/client.py
  dbm-ui/backend/db_services/ipchooser/handlers/host_handler.py
  dbm-ui/backend/db_services/ipchooser/handlers/topo_handler.py
  dbm-ui/backend/db_services/ipchooser/query/resource.py
  dbm-ui/backend/env/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin
