Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

fix: bk_agent_id不存在(agent1.0)的情况下可以使用bk_cloud_id和bk_host_innerip来兼容查询
  dbm-ui/backend/db_services/ipchooser/query/resource.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: bk_agent_id不存在(agent1.0)的情况下可以使用bk_cloud_id和bk_host_innerip来兼容查询
  dbm-ui/backend/db_services/ipchooser/query/resource.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): agent2.0适配 close #1013
  dbm-ui/backend/components/gse/client.py
  dbm-ui/backend/db_services/ipchooser/handlers/host_handler.py
  dbm-ui/backend/db_services/ipchooser/handlers/topo_handler.py
  dbm-ui/backend/db_services/ipchooser/query/resource.py
  dbm-ui/backend/env/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(mysql): tendb cluster slave 重建 (#887)
  dbm-ui/backend/db_meta/api/cluster/tendbcluster/remotedb_node_migrate.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/remote_local_slave_recover.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/remote_slave_recover.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_remote_node_migrate.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/spider/spider_db_meta.py
  dbm-ui/backend/flow/utils/spider/tendb_cluster_info.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): spider工具箱自测问题 #902
  dbm-ui/frontend/src/components/tools-select-disable/hooks/useValidtor.ts
  dbm-ui/frontend/src/components/tools-select-disable/index.vue
  dbm-ui/frontend/src/services/model/redis/redis-host.ts
  dbm-ui/frontend/src/views/redis/capacity-change/pages/page1/components/RenderTargetCapacity.vue
  dbm-ui/frontend/src/views/redis/cluster-shard-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/cluster-type-update/pages/page1/components/RenderDeployPlan.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedis.vue
  dbm-ui/frontend/src/views/redis/common/instance-selector/components/RenderRedisFailHost.vue
  dbm-ui/frontend/src/views/spider-manage/capacity-change/pages/page1/components/RenderData/RenderTargetResourceSpec.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(backend): update helm version #1018
  dbm-ui/backend/components/base.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): update helm version #1018
  dbm-ui/backend/components/base.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 校验flashback库表接口改造 #1011
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_full_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_mnt_apply.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_mnt_destroy.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(backend) 增加查询数据库表接口 #1022
  dbm-ui/backend/db_services/mysql/constants.py
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(mysql): mysql-monitor增加disable子命令 close #1024
  dbm-services/mysql/db-tools/mysql-monitor/README.md
  dbm-services/mysql/db-tools/mysql-monitor/cmd/reschedule_items.go
  dbm-services/mysql/db-tools/mysql-monitor/cmd/subcmd_disable_all.go
  dbm-services/mysql/db-tools/mysql-monitor/cmd/subcmd_reschedule.go
  dbm-services/mysql/db-tools/mysql-monitor/pkg/config/init.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat(backend) 增加查询数据库表接口 #1022
  dbm-ui/backend/db_services/mysql/constants.py
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 校验flashback库表接口改造 #1011
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/mock_data.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_full_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_mnt_apply.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_mnt_destroy.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: mysql管理密码随机化、密码存储、密码安全规则管理、字符串复杂度检测、生成随机密码、根据id查询账号规则
  dbm-services/common/go-pubpkg/errno/50000_dbpriv_code.go
  dbm-services/mysql/db-partition/service/check_partition_base_func.go
  dbm-services/mysql/db-priv/.gitignore
  dbm-services/mysql/db-priv/assests/migrations/000001_init.down.sql
  dbm-services/mysql/db-priv/assests/migrations/000003_init.down.sql
  dbm-services/mysql/db-priv/assests/migrations/000004_init.down.sql
  dbm-services/mysql/db-priv/assests/migrations/000004_init.up.sql
  dbm-services/mysql/db-priv/handler/admin_password.go
  dbm-services/mysql/db-priv/handler/generate_random_string.go
  dbm-services/mysql/db-priv/handler/randomize_manage.go
  dbm-services/mysql/db-priv/handler/register_routes.go
  dbm-services/mysql/db-priv/handler/security_rule.go
  dbm-services/mysql/db-priv/service/accout_rule.go
  dbm-services/mysql/db-priv/service/accout_rule_object.go
  dbm-services/mysql/db-priv/service/add_priv_object.go
  dbm-services/mysql/db-priv/service/admin_password.go
  dbm-services/mysql/db-priv/service/admin_password_base_func.go
  dbm-services/mysql/db-priv/service/admin_password_object.go
  dbm-services/mysql/db-priv/service/clone_client_priv_base_func.go
  dbm-services/mysql/db-priv/service/clone_client_priv_object.go
  dbm-services/mysql/db-priv/service/generate_random_string.go
  dbm-services/mysql/db-priv/service/randomize_manager.go
  dbm-services/mysql/db-priv/service/security_rule.go
  dbm-services/mysql/db-priv/service/security_rule_object.go
  dbm-services/mysql/db-priv/util/base_func.go
  dbm-ui/backend/components/mysql_priv_manager/client.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/randomize_password.py
  dbm-ui/backend/tests/mock_data/components/mysql_priv_manager.py
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @fanfanyangyang, @zhangzhw8, @gaohongsong, @iSecloud

feat(mysql): mysql-monitor增加disable子命令 close #1024
  dbm-services/mysql/db-tools/mysql-monitor/README.md
  dbm-services/mysql/db-tools/mysql-monitor/cmd/reschedule_items.go
  dbm-services/mysql/db-tools/mysql-monitor/cmd/subcmd_disable_all.go
  dbm-services/mysql/db-tools/mysql-monitor/cmd/subcmd_reschedule.go
  dbm-services/mysql/db-tools/mysql-monitor/pkg/config/init.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

fix: 集群单据记录改造
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_full_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_full_backup.py
  dbm-ui/backend/ticket/flow_manager/base.py
  dbm-ui/backend/ticket/flow_manager/inner.py
  dbm-ui/backend/ticket/models/ticket.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat:mysql开区
  dbm-services/mysql/db-partition/handler/handler.go
  dbm-services/mysql/db-partition/service/execute_partition_object.go
  dbm-services/mysql/db-partition/service/manage_config.go
  dbm-services/mysql/db-tools/dbactuator/.gitignore
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_import_schema.go
  dbm-ui/backend/db_meta/models/mysql_open_area.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_open_area_flow.py
  dbm-ui/backend/flow/engine/controller/mysql.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/views/mysql_open_area.py
Owners: @fanfanyangyang, @xfwduke, @seanlook, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(kafka): 支持无认证部署 close #1030
  dbm-ui/backend/ticket/builders/kafka/kafka_apply.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): 数据恢复包含dba 系统库 close #1029
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/common/db-config/assets/migrations/000021_tendbsingle_data.up.sql
  dbm-services/common/db-config/assets/migrations/000026_TwemproxyRedisInstance_data.up.sql
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/common/go-pubpkg/backupclient/backupclient.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/change_master.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/pt_table_checksum.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
  dbm-services/mysql/db-tools/dbactuator/pkg/core/staticembed/default_sys_schema.sql
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/db_table_filter.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/db_table_filter_test.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/mydumper_regex.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/test.2000.ini
  dbm-services/mysql/db-tools/mysql-rotatebinlog/pkg/rotate/main.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(kafka): 支持无认证部署 close #1030
  dbm-ui/backend/ticket/builders/kafka/kafka_apply.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): 修复资源池体验问题 #287
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 新增告警组页面 #946
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/common/services.ts
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/common/types.ts
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/components/DetailDialog.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/components/NoticeMethodFormItem.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/components/ReceiversSelector.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/components/RenderRow.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(mysql): 数据恢复包含dba 系统库 close #1029
  dbm-services/common/db-config/assets/migrations/000019_tendbcluster_data.up.sql
  dbm-services/common/db-config/assets/migrations/000020_tendbha_data.up.sql
  dbm-services/common/db-config/assets/migrations/000021_tendbsingle_data.up.sql
  dbm-services/common/db-config/assets/migrations/000026_TwemproxyRedisInstance_data.up.sql
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/common/go-pubpkg/backupclient/backupclient.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/change_master.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_new_dbbackup.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/pt_table_checksum.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader/logical_loader.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/restore/dbloader_restore.go
  dbm-services/mysql/db-tools/dbactuator/pkg/core/staticembed/default_sys_schema.sql
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/db_table_filter.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/db_table_filter_test.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/db_table_filter/mydumper_regex.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/config/logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/backupexe/loader_logical.go
  dbm-services/mysql/db-tools/mysql-dbbackup/test.2000.ini
  dbm-services/mysql/db-tools/mysql-rotatebinlog/pkg/rotate/main.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增mysql开区功能 #1036
  dbm-services/mysql/db-partition/handler/handler.go
  dbm-services/mysql/db-partition/service/execute_partition_object.go
  dbm-services/mysql/db-partition/service/manage_config.go
  dbm-services/mysql/db-tools/dbactuator/.gitignore
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_import_schema.go
  dbm-ui/backend/db_meta/models/mysql_open_area.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_open_area_flow.py
  dbm-ui/backend/flow/engine/controller/mysql.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/views/mysql_open_area.py
Owners: @fanfanyangyang, @xfwduke, @seanlook, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): 修复spider工具体验bugs close #1035
  dbm-services/mysql/db-simulation/app/service/kubernets.go
  dbm-services/mysql/db-simulation/app/syntax/builtin_rule.go
  dbm-services/mysql/db-simulation/handler/handler.go
  helm-charts/bk-dbm/charts/db-simulation/Chart.yaml
Owners: @seanlook, @xfwduke, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增mysql开区功能 #1036
  dbm-services/mysql/db-partition/handler/handler.go
  dbm-services/mysql/db-partition/service/execute_partition_object.go
  dbm-services/mysql/db-partition/service/manage_config.go
  dbm-services/mysql/db-tools/dbactuator/.gitignore
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_data.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/open_area_import_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_dump_schema.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/open_area_import_schema.go
  dbm-ui/backend/db_meta/models/mysql_open_area.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/mysql_open_area_flow.py
  dbm-ui/backend/flow/engine/controller/mysql.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/views/mysql_open_area.py
Owners: @fanfanyangyang, @xfwduke, @seanlook, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix: 集群单据记录改造
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_full_backup.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_fixpoint_rollback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_full_backup.py
  dbm-ui/backend/ticket/flow_manager/base.py
  dbm-ui/backend/ticket/flow_manager/inner.py
  dbm-ui/backend/ticket/models/ticket.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): dbconfig migrate 修复 close #1038
  dbm-services/common/db-config/docs/swagger.json
  dbm-services/common/db-config/docs/swagger.yaml
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/common/go-pubpkg/cmutil/command.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/oscmd_run.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/dump_schema_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/uninstall_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/os_command.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/oscmd_run.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/dbareport/report.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

feat(backend): add enable tokudb engine pipeline close #965
  .code.yml
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_tokudb_plugin.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/sysinit/sysinit.go
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_deploy.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): 新增告警组页面 #946
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(backend): dbconfig migrate 修复 close #1038
  dbm-services/common/db-config/docs/swagger.json
  dbm-services/common/db-config/docs/swagger.yaml
  dbm-services/common/db-config/internal/repository/migratespec/sensitive.go
  dbm-services/common/go-pubpkg/cmutil/command.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/oscmd_run.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/dump_schema_for_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/uninstall_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/os_command.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/oscmd_run.go
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/dbareport/report.go
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @yksitu, @zhangzhw8, @gaohongsong, @iSecloud

feat(kafka): 支持无认证部署 #1032
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/kafka-manage/apply/Index.vue
  dbm-ui/frontend/src/views/tickets/components/bigdata/DetailsKafka.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(kafka): 支持无认证部署 #1032
  dbm-ui/frontend/src/locales/en.json
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/kafka-manage/apply/Index.vue
  dbm-ui/frontend/src/views/tickets/components/bigdata/DetailsKafka.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 监控告警功能 #926 (#927)
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/main-views/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-db/alarm-group/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 监控告警功能 #926
  dbm-ui/frontend/.stylelintignore
  dbm-ui/frontend/lib/bk-icon/demo.html
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.eot
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.svg
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.ttf
  dbm-ui/frontend/lib/bk-icon/fonts/iconcool.woff
  dbm-ui/frontend/lib/bk-icon/iconcool.js
  dbm-ui/frontend/lib/bk-icon/iconcool.json
  dbm-ui/frontend/lib/bk-icon/style.css
  dbm-ui/frontend/src/components/mini-tag/index.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/services/model/monitor-policy/monitor-policy.ts
  dbm-ui/frontend/src/services/monitor.ts
  dbm-ui/frontend/src/types/index.d.ts
  dbm-ui/frontend/src/types/utils.d.ts
  dbm-ui/frontend/src/views/main-views/pages/Database.vue
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/edit-strategy/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/edit-strategy/monitor-target/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/edit-strategy/rule-check/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/edit-strategy/rule-check/NumberInput.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/type-content/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/monitor-strategy/type-content/RenderTargetItem.vue
  dbm-ui/frontend/src/views/monitor-alarm-db/routes.ts
  dbm-ui/frontend/src/views/monitor-alarm-plat/global-strategy/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/global-strategy/edit-strategy/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/global-strategy/edit-strategy/rule-check/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/global-strategy/edit-strategy/rule-check/NumberInput.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/global-strategy/type-content/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/RenderRotateTable.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/TypeContent.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/edit-rule/CycleRotate.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/rotation-setting/edit-rule/Index.vue
  dbm-ui/frontend/src/views/monitor-alarm-plat/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(backend): add enable tokudb engine pipeline close #965
  .code.yml
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/backup_demand.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_mysql.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_tokudb_plugin.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/sysinit/sysinit.go
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_deploy.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin
