Repository TencentBlueKing/blueking-dbm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangzhw8, @gaohongsong, @iSecloud, @Daryl0819, @hLinx, @jinquantianxia, @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @omg-by, @zyqlzr, @xjxia, @zhangrq5, @zvictorino, @yksitu, @fanfanyangyang, @mikluo, @yyhenryyy, @cycker, @cuiguobin

.github/CODEOWNERS:

# public
/.github @zhangzhw8 @gaohongsong @iSecloud
/docs @zhangzhw8 @gaohongsong @iSecloud
/*.md @zhangzhw8 @gaohongsong @iSecloud
/helm-charts @zhangzhw8 @gaohongsong @iSecloud

# dbm-ui
/dbm-ui @zhangzhw8 @gaohongsong @iSecloud
/dbm-ui/frontend @Daryl0819 @hLinx @jinquantianxia

# dbm-services common
/dbm-services/common @seanlook @xfwduke @lukemakeit @xiepaup @ymakedaq
/dbm-services/common/db-config @seanlook @xfwduke
/dbm-services/common/db-resource @ymakedaq @seanlook @xfwduke
/dbm-services/common/db-dns @omg-by @xiepaup @lukemakeit
/dbm-services/common/dbha @zyqlzr @xjxia

# bigdata
/dbm-services/bigdata @zhangrq5 @zvictorino
/dbm-services/es @zhangrq5 @zvictorino
/dbm-services/hdfs @zhangrq5 @zvictorino
/dbm-services/kafka @zhangrq5 @zvictorino

# mysql
/dbm-services/mysql @seanlook @xfwduke @yksitu @ymakedaq
/dbm-services/mysql/db-partition @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-priv @fanfanyangyang @xfwduke @seanlook
/dbm-services/mysql/db-remote-service @xfwduke @seanlook
/dbm-services/mysql/db-simulation @seanlook @xfwduke @ymakedaq

# redis
/dbm-services/redis @lukemakeit @xiepaup @omg-by @mikluo @yyhenryyy @cycker @cuiguobin

feat(redis): 数据回写 close #877
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix: 校验补充
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): redis 数据回写 #814
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/bkdbmon_install.go
  dbm-services/redis/db-tools/dbactuator/pkg/atomjobs/atomredis/redis_dts_online_switch.go
  dbm-ui/backend/db_services/redis/redis_dts/apis.py
  dbm-ui/backend/db_services/redis/redis_dts/enums/type_enums.py
  dbm-ui/backend/db_services/redis/redis_dts/util.py
  dbm-ui/backend/db_services/redis/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/redis/redis_cluster_data_copy.py
  dbm-ui/backend/flow/plugins/components/collections/redis/redis_dts.py
  dbm-ui/backend/flow/utils/redis/redis_act_playload.py
  dbm-ui/backend/flow/utils/redis/redis_db_meta.py
  dbm-ui/backend/flow/utils/redis/redis_proxy_util.py
Owners: @lukemakeit, @xiepaup, @omg-by, @mikluo, @yyhenryyy, @cycker, @cuiguobin, @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 补充dts版本管理 close #880
  dbm-ui/backend/db_services/version/utils.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 添加TBinlogdumper实例的添加和删除的流程 #783"
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/install_tbinlogdumper.go
  dbm-ui/backend/db_meta/api/cluster/tendbha/handler.py
  dbm-ui/backend/db_meta/enums/extra_process_type.py
  dbm-ui/backend/db_meta/migrations/0018_extraprocessinstance.py
  dbm-ui/backend/db_meta/models/extra_process.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/common/get_file_list.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_deploy.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/reduce_node.py
  dbm-ui/backend/flow/engine/controller/tbinlogdumper.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_db_meta.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/views/tbinlogdumper_add.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(dbm-services): install_tokudb_engine close #811
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/cmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/enable_tokudb.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_tokudb_plugin.go
  dbm-services/mysql/db-tools/dbactuator/pkg/native/dbworker.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/dbcnf.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_os_test.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat(dbm-services): install_tokudb_engine close #811
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/cmd.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/enable_tokudb.go
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/mysqlcmd/mysqlcmd.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/mysql/install_tokudb_plugin.go
  dbm-services/mysql/db-tools/dbactuator/pkg/native/dbworker.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/dbcnf.go
  dbm-services/mysql/db-tools/dbactuator/pkg/util/mysqlutil/mysql_os_test.go
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq

feat: 添加TBinlogdumper实例的添加和删除的流程 #783"
  dbm-services/mysql/db-tools/dbactuator/internal/subcmd/tbinlogdumpercmd/install_tbinlogdumper.go
  dbm-services/mysql/db-tools/dbactuator/pkg/components/tbinlogdumper/install_tbinlogdumper.go
  dbm-ui/backend/db_meta/api/cluster/tendbha/handler.py
  dbm-ui/backend/db_meta/enums/extra_process_type.py
  dbm-ui/backend/db_meta/migrations/0018_extraprocessinstance.py
  dbm-ui/backend/db_meta/models/extra_process.py
  dbm-ui/backend/flow/consts.py
  dbm-ui/backend/flow/engine/bamboo/scene/common/get_file_list.py
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/spider_cluster_deploy.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/add_nodes.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/common_sub_flow.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/common/util.py
  dbm-ui/backend/flow/engine/bamboo/scene/tbinlogdumper/reduce_node.py
  dbm-ui/backend/flow/engine/controller/tbinlogdumper.py
  dbm-ui/backend/flow/urls.py
  dbm-ui/backend/flow/utils/mysql/mysql_act_playload.py
  dbm-ui/backend/flow/utils/mysql/mysql_db_meta.py
  dbm-ui/backend/flow/utils/tbinlogdumper/context_dataclass.py
  dbm-ui/backend/flow/views/tbinlogdumper_add.py
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 补充dts版本管理 close #880
  dbm-ui/backend/db_services/version/utils.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): 支持筛选无限制的资源 close #883
  dbm-services/common/db-resource/internal/controller/manage/list.go
Owners: @ymakedaq, @seanlook, @xfwduke

fix(backend): 修复体验问题 #869
  dbm-ui/backend/configuration/migrations/0004_remove_ipwhitelist_db_type.py
  dbm-ui/backend/configuration/models/ip_whitelist.py
  dbm-ui/backend/configuration/serializers.py
  dbm-ui/backend/db_meta/init/spec_init.json
  dbm-ui/backend/db_meta/models/spec.py
  dbm-ui/backend/db_services/dbbase/resources/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/query.py
  dbm-ui/backend/db_services/mysql/resources/tendbcluster/yasg_slz.py
  dbm-ui/backend/db_services/mysql/resources/tendbha/query.py
  dbm-ui/backend/db_services/partition/handlers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/db_services/partition/views.py
  dbm-ui/backend/db_services/taskflow/views/flow.py
  dbm-ui/backend/ticket/builders/common/base.py
  dbm-ui/backend/ticket/builders/mysql/mysql_ha_rename.py
  dbm-ui/backend/ticket/constants.py
  dbm-ui/backend/ticket/flow_manager/resource.py
  helm-charts/bk-dbm/Chart.yaml
  helm-charts/bk-dbm/charts/dbm/Chart.yaml
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 补充dts版本管理 close #880
  dbm-ui/backend/db_services/version/utils.py
  dbm-ui/backend/ticket/builders/redis/base.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_add_slave.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_cut_off.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_fixpoint_make.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_master_slave_switch.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_proxy_scale_down.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_proxy_scale_up.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_redis_scale_updown.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 调整任务冲突矩阵表
  dbm-ui/backend/ticket/exclusive_ticket.xlsx
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 调整任务冲突矩阵表
  dbm-ui/backend/ticket/exclusive_ticket.xlsx
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(redis): 补充dts版本管理 close #880
  dbm-ui/backend/ticket/builders/redis/base.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_add_slave.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_cut_off.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_fixpoint_make.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_master_slave_switch.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_proxy_scale_down.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_proxy_scale_up.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_redis_scale_updown.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_rollback_data_copy.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_shard_update.py
  dbm-ui/backend/ticket/builders/redis/redis_toolbox_type_update.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增客户端克隆指定user和域名的功能 #876
  dbm-services/mysql/db-priv/service/add_priv.go
  dbm-services/mysql/db-priv/service/add_priv_object.go
  dbm-services/mysql/db-priv/service/clone_client_priv.go
  dbm-services/mysql/db-priv/service/clone_client_priv_base_func.go
  dbm-services/mysql/db-priv/service/clone_client_priv_object.go
  dbm-services/mysql/db-priv/service/clone_instance_priv.go
  dbm-services/mysql/db-priv/service/clone_instance_priv_base_func.go
Owners: @fanfanyangyang, @xfwduke, @seanlook

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/password-policy/routes.ts
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AccountInfoDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/routes.ts
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/components/WhitelistOperation.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AccountInfoDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/CreateRule.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/checksum/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/index.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/ClusterRelatedInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/index.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/index.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxContent.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/pulsar-manage/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/RenderTable.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/batch-setting/components/ResourceSpecStorage.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/import-host/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/import-host/components/FormPanel.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/com-factory/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/Index.vue
  dbm-ui/frontend/src/views/resource-pool/list/components/search-box/components/field-input/components/CollectSearchParams.vue
  dbm-ui/frontend/src/views/resource-pool/record/Index.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/main-views/pages/Platform.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/password-policy/routes.ts
  dbm-ui/frontend/src/views/spider-manage/routes.ts
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/views/redis/cluster-manage/list/List.vue
  dbm-ui/frontend/src/views/service-apply/components/ApplyCollapse.vue
  dbm-ui/frontend/src/views/service-apply/index.vue
  dbm-ui/frontend/src/views/staff-setting/index.vue
  dbm-ui/frontend/src/views/tickets/common/components/baseinfo/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/components/flow/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/list/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/List.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/details/Index.vue
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
  dbm-ui/frontend/src/views/whitelist/pages/Index.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat(backend): 周期任务框架 #723
  .gtmproject.yaml
  dbm-ui/backend/db_meta/utils.py
  dbm-ui/backend/db_periodic_task/__init__.py
  dbm-ui/backend/db_periodic_task/apps.py
  dbm-ui/backend/db_periodic_task/constants.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_monitor.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_proxy.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/local_tasks/ticket.py
  dbm-ui/backend/db_periodic_task/migrations/0001_initial.py
  dbm-ui/backend/db_periodic_task/migrations/__init__.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/readme.md
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/ticket/builders/__init__.py
  dbm-ui/backend/ticket/tasks/ticket_tasks.py
  dbm-ui/backend/ticket/todos/__init__.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(dbm-services): 支持筛选无限制的资源 close #883
  dbm-services/common/db-resource/internal/controller/manage/list.go
Owners: @ymakedaq, @seanlook, @xfwduke

feat: 新增客户端克隆指定user和域名的功能 #876
  dbm-services/mysql/db-priv/service/add_priv.go
  dbm-services/mysql/db-priv/service/add_priv_object.go
  dbm-services/mysql/db-priv/service/clone_client_priv.go
  dbm-services/mysql/db-priv/service/clone_client_priv_base_func.go
  dbm-services/mysql/db-priv/service/clone_client_priv_object.go
  dbm-services/mysql/db-priv/service/clone_instance_priv.go
  dbm-services/mysql/db-priv/service/clone_instance_priv_base_func.go
Owners: @fanfanyangyang, @xfwduke, @seanlook

feat(backend): 周期任务框架 #723
  .gtmproject.yaml
  dbm-ui/backend/db_meta/utils.py
  dbm-ui/backend/db_periodic_task/__init__.py
  dbm-ui/backend/db_periodic_task/apps.py
  dbm-ui/backend/db_periodic_task/constants.py
  dbm-ui/backend/db_periodic_task/local_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_meta.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_monitor.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_proxy.py
  dbm-ui/backend/db_periodic_task/local_tasks/register.py
  dbm-ui/backend/db_periodic_task/local_tasks/ticket.py
  dbm-ui/backend/db_periodic_task/migrations/0001_initial.py
  dbm-ui/backend/db_periodic_task/migrations/__init__.py
  dbm-ui/backend/db_periodic_task/models.py
  dbm-ui/backend/db_periodic_task/readme.md
  dbm-ui/backend/db_periodic_task/remote_tasks/__init__.py
  dbm-ui/backend/db_periodic_task/remote_tasks/register.py
  dbm-ui/backend/ticket/builders/__init__.py
  dbm-ui/backend/ticket/tasks/ticket_tasks.py
  dbm-ui/backend/ticket/todos/__init__.py
  dbm-ui/config/default.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): itsm 跳转链接问题 #896
  dbm-ui/backend/ticket/builders/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 新增修复101类型分区初始化问题、加强分区名称、描述以及分区间隔的检查、offline的分区规则不暂停添加分区的功能 #891
  dbm-services/common/go-pubpkg/errno/50000_dbpartition_code.go
  dbm-services/common/go-pubpkg/errno/code.go
  dbm-services/mysql/db-partition/service/check_partition.go
  dbm-services/mysql/db-partition/service/check_partition_base_func.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @fanfanyangyang

feat: 新增修复101类型分区初始化问题、加强分区名称、描述以及分区间隔的检查、offline的分区规则不暂停添加分区的功能 #891
  dbm-services/common/go-pubpkg/errno/50000_dbpartition_code.go
  dbm-services/common/go-pubpkg/errno/code.go
  dbm-services/mysql/db-partition/service/check_partition.go
  dbm-services/mysql/db-partition/service/check_partition_base_func.go
Owners: @seanlook, @xfwduke, @lukemakeit, @xiepaup, @ymakedaq, @fanfanyangyang

fix(backend): 定点回档库表校验 #889
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/handlers.py
  dbm-ui/backend/db_services/mysql/permission/clone/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/exceptions.py
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
  dbm-ui/backend/db_services/partition/constants.py
  dbm-ui/backend/db_services/partition/exceptions.py
  dbm-ui/backend/db_services/partition/handlers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/import_sqlfile_flow.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/clone_rules.py
  dbm-ui/backend/ticket/builders/mysql/mysql_clone_rules.py
  dbm-ui/backend/ticket/builders/mysql/mysql_flashback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_clone_rules.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat(frontend): 添加平台级白名单和安全规则及css优化 #872
  dbm-ui/frontend/src/services/types/whitelist.ts
  dbm-ui/frontend/src/services/whitelist.ts
  dbm-ui/frontend/src/views/mysql/checksum/Index.vue
  dbm-ui/frontend/src/views/mysql/checksum/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-clear/index.vue
  dbm-ui/frontend/src/views/mysql/db-rename/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/db-rename/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-client/index.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/privilege-clone-inst/index.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/components/ClusterRelatedInput.vue
  dbm-ui/frontend/src/views/mysql/slave-add/index.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/components/BatchInput.vue
  dbm-ui/frontend/src/views/mysql/slave-rebuild/index.vue
  dbm-ui/frontend/src/views/mysql/toolbox/components/ToolboxSide.vue
  dbm-ui/frontend/src/views/password-policy/PasswordPolicy.vue
  dbm-ui/frontend/src/views/resource-pool/dirty-machines/Index.vue
  dbm-ui/frontend/src/views/resource-pool/record/Index.vue
  dbm-ui/frontend/src/views/service-apply/components/ApplyCollapse.vue
  dbm-ui/frontend/src/views/service-apply/index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission-list/components/ExcelAuthorize.vue
  dbm-ui/frontend/src/views/spider-manage/permission/Index.vue
  dbm-ui/frontend/src/views/spider-manage/permission/components/AddAccountDialog.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/Index.vue
  dbm-ui/frontend/src/views/spider-manage/whitelist/components/WhitelistOperation.vue
  dbm-ui/frontend/src/views/tickets/common/components/baseinfo/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/flow-content/Index.vue
  dbm-ui/frontend/src/views/tickets/common/components/flow-content/components/ContentInnerFlow.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/details/components/flow/Index.vue
  dbm-ui/frontend/src/views/tickets/my-tickets/components/list/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/Index.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/List.vue
  dbm-ui/frontend/src/views/tickets/my-todos/components/details/Index.vue
  dbm-ui/frontend/src/views/version-files/pages/VersionFileContent.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(frontend): spider 测试问题修复 #903
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/common/const.ts
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/mysql/apply/ApplyMySQL.vue
  dbm-ui/frontend/src/views/mysql/apply/components/PreviewTable.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
  dbm-ui/frontend/src/views/resource-spec/components/spec-form-item/SpecQPS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsES.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsHDFS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsInfluxDB.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsKafka.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsPulsar.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Details.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

fix(backend): django celery beat migrate问题 #901
  .github/workflows/python_code_check.yml
  dbm-ui/Dockerfile
  dbm-ui/backend/db_periodic_task/admin.py
  dbm-ui/config/default.py
  dbm-ui/scripts/ci/install.sh
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): django celery beat migrate问题 #901
  .github/workflows/python_code_check.yml
  dbm-ui/Dockerfile
  dbm-ui/backend/db_periodic_task/admin.py
  dbm-ui/config/default.py
  dbm-ui/scripts/ci/install.sh
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): tendbcluster备份部署修复 close #907
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/spider/spider_service.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/common/common_sub_flow.py
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): itsm 跳转链接问题 #896
  dbm-ui/backend/ticket/builders/__init__.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

feat: 告警策略、分派策略、告警通知组模型粗略拟定 #898
  dbm-ui/backend/db_monitor/constants.py
  dbm-ui/backend/db_monitor/migrations/0002_alter_noticegroup_db_type.py
  dbm-ui/backend/db_monitor/migrations/0003_alter_noticegroup_db_type.py
  dbm-ui/backend/db_monitor/migrations/0004_auto_20230829_1033.py
  dbm-ui/backend/db_monitor/models.py
  dbm-ui/backend/db_monitor/models/__init__.py
  dbm-ui/backend/db_monitor/models/alarm.py
  dbm-ui/backend/db_monitor/models/collect.py
  dbm-ui/backend/db_monitor/models/dashboard.py
  dbm-ui/backend/db_monitor/models/dataclass/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_monitor.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(mysql): tendbcluster备份部署修复 close #907
  dbm-services/mysql/db-tools/mysql-dbbackup/pkg/src/spider/spider_service.go
  dbm-ui/backend/flow/engine/bamboo/scene/mysql/common/common_sub_flow.py
  helm-charts/bk-dbm/charts/dbconfig/Chart.yaml
Owners: @seanlook, @xfwduke, @yksitu, @ymakedaq, @zhangzhw8, @gaohongsong, @iSecloud

fix(backend): 定点回档库表校验 #889
  dbm-ui/backend/db_services/mysql/fixpoint_rollback/handlers.py
  dbm-ui/backend/db_services/mysql/permission/clone/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/exceptions.py
  dbm-ui/backend/db_services/mysql/remote_service/handlers.py
  dbm-ui/backend/db_services/mysql/remote_service/serializers.py
  dbm-ui/backend/db_services/mysql/remote_service/views.py
  dbm-ui/backend/db_services/partition/constants.py
  dbm-ui/backend/db_services/partition/exceptions.py
  dbm-ui/backend/db_services/partition/handlers.py
  dbm-ui/backend/db_services/partition/serializers.py
  dbm-ui/backend/exceptions.py
  dbm-ui/backend/flow/engine/bamboo/scene/spider/import_sqlfile_flow.py
  dbm-ui/backend/flow/plugins/components/collections/mysql/clone_rules.py
  dbm-ui/backend/ticket/builders/mysql/mysql_clone_rules.py
  dbm-ui/backend/ticket/builders/mysql/mysql_flashback.py
  dbm-ui/backend/ticket/builders/tendbcluster/tendb_clone_rules.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud

fix(frontend): spider 测试问题修复 #903
  dbm-ui/frontend/package.json
  dbm-ui/frontend/src/common/const.ts
  dbm-ui/frontend/src/components/cluster-common/RenderNodeInstance.vue
  dbm-ui/frontend/src/components/render-instances/RenderInstances.vue
  dbm-ui/frontend/src/locales/zh-cn.json
  dbm-ui/frontend/src/views/mysql/apply/ApplyMySQL.vue
  dbm-ui/frontend/src/views/mysql/apply/components/PreviewTable.vue
  dbm-ui/frontend/src/views/resource-spec/components/SpecList.vue
  dbm-ui/frontend/src/views/resource-spec/components/spec-form-item/SpecQPS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsES.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsHDFS.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsInfluxDB.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsKafka.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/bigdata/DetailsPulsar.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/mysql/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/redis/Details.vue
  dbm-ui/frontend/src/views/tickets/common/components/demand-factory/spider/Details.vue
Owners: @Daryl0819, @hLinx, @jinquantianxia

feat: 告警策略、分派策略、告警通知组模型粗略拟定 #898
  dbm-ui/backend/db_monitor/constants.py
  dbm-ui/backend/db_monitor/migrations/0002_alter_noticegroup_db_type.py
  dbm-ui/backend/db_monitor/migrations/0003_alter_noticegroup_db_type.py
  dbm-ui/backend/db_monitor/migrations/0004_auto_20230829_1033.py
  dbm-ui/backend/db_monitor/models.py
  dbm-ui/backend/db_monitor/models/__init__.py
  dbm-ui/backend/db_monitor/models/alarm.py
  dbm-ui/backend/db_monitor/models/collect.py
  dbm-ui/backend/db_monitor/models/dashboard.py
  dbm-ui/backend/db_monitor/models/dataclass/__init__.py
  dbm-ui/backend/db_periodic_task/local_tasks/db_monitor.py
Owners: @zhangzhw8, @gaohongsong, @iSecloud
